University management system (mini version)

In [61]:
class Person:
    def __init__(self,name,age):
        self._name=name
        self._age=age
        
    def display_info(self):
        print(f'name : {self._name}\nAge : {self._age}')

In [62]:
class Student(Person):
    def __init__(self, name, age,roll_no):
        super().__init__(name, age)
        self._roll_no=roll_no
        self._enrolled_courses=[]
        
    def enroll(self,course_n):
        self._enrolled_courses.append(course_n)
    
    def show_courses(self):
        if not  self._enrolled_courses:
            print(f'Courses list is empty !')
        else:
            print('Enrooled Courses are :')
            for course in self._enrolled_courses:
                print(f'-{course}')
                
    def display_info(self):
        super().display_info()
        print(f'Roll number : {self._roll_no}')
    
    def __str__(self):
       return f'{self._name}'

In [63]:
class Teacher(Person):
    def __init__(self, name, age,sub,salary):
        super().__init__(name, age)
        self._subject=sub
        self._salary=salary
    @property  
    def salary(self):
        return self._salary
    @salary.setter
    def salary(self,value):
        if value < 0 :
            raise ValueError("salary cannot be -ive")
        self._salary=value
    
    def display_info(self):
        super().display_info()
        print(f'Subject : {self._subject}\nSalary : {self._salary}')
        
    def __str__(self):
        return f'Teacher Name : {self._name}'

In [64]:
class Course:
    def __init__(self,course_n,teacher_n):
        self._course_name=course_n
        self._teacher_name=teacher_n
        self._students=[]
        
    def add_student(self,stu):
        self._students.append(stu)
        
    def show_details(self):
        print(f'Course Name : {self._course_name}')
        print(f'Teacher Name : {self._teacher_name}')
        
        if not self._students:
            print('Students list is empty !')
        else:
            print('Students are :')
            for stu in self._students:
                print(f'- {stu} , Roll no. {stu}')

In [65]:
s1=Student("Awais",19,2024124)
s2=Student("Abid",20,2024603)
s3=Student("Ahmad",18,2024341)

t1=Teacher("Qasim Riz",28,"DSA",-100)
t2=Teacher("Asad Mahmood",27,"Linear Algebra",40000)

c1=Course("AI",t2)
c2=Course("Programing Fundamentals",t1)

c1.add_student(s1)
c1.add_student(s2)

c2.add_student(s3)

c1.show_details()
c2.show_details()

Course Name : AI
Teacher Name : Teacher Name : Asad Mahmood
Students are :
- Awais , Roll no. Awais
- Abid , Roll no. Abid
Course Name : Programing Fundamentals
Teacher Name : Teacher Name : Qasim Riz
Students are :
- Ahmad , Roll no. Ahmad