In [2]:
fruits={'Banana','Lemon','Mango','Orange','Apple'}

fruits.add('Grapes')
fruits.add('Orange')
print(fruits)

fruits.remove('Orange')

if 'Apple' in fruits:
    print('Yes , Apple is present ')
else:
     print('No , Apple is present ')

{'Orange', 'Grapes', 'Apple', 'Lemon', 'Mango', 'Banana'}
Yes , Apple is present

List to Set

In [1]:
my_list=[1,2,3,4,4,4,5,6,7,7]
my_set=set(my_list)
print(my_list)
print(my_set)

[1, 2, 3, 4, 4, 4, 5, 6, 7, 7]
{1, 2, 3, 4, 5, 6, 7}

Set Operations

In [2]:
students1={'awais','saad','taha','abid'}
students2={'abid','ahmad','huzaifa'}

print(students1 & students2)
print(students1 - students2)
print(students2 - students1)
print(students1^students2)

{'abid'}
{'taha', 'saad', 'awais'}
{'ahmad', 'huzaifa'}
{'ahmad', 'taha', 'awais', 'saad', 'huzaifa'}

Count unique letters

In [3]:
sentence=input('Enter a sentance ')
unique=set()

for char in sentence:
    if char.isalpha:
        unique.add(char)
        
print(unique)
print(len(unique))

{"'", 'a', 'i', 'f', 'h', ' ', 'w', 'r', 'k', 's', 'm', 't'}
12