In [1]:
import pandas as pd

In [37]:
dictionary={
    'Product':['Pen','Notebook','Pencil'],
    'Price':[10,5,50],
    'Quantity':[5,3,20],
}

df=pd.DataFrame(dictionary)

print(df)

    Product  Price  Quantity
0       Pen     10         5
1  Notebook      5         3
2    Pencil     50        20

In [12]:
print('Head : \n',df.head())
print('Info : \n')
df.info()
print('Descibe : \n',df.describe())

Head :
     Product  Price  Quantity
0       Pen     10         5
1  Notebook      5         3
2    Pencil     50        20
Info :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   3 non-null      object
 1   Price     3 non-null      int64
 2   Quantity  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
Descibe :
            Price   Quantity
count   3.000000   3.000000
mean   21.666667   9.333333
std    24.664414   9.291573
min     5.000000   3.000000
25%     7.500000   4.000000
50%    10.000000   5.000000
75%    30.000000  12.500000
max    50.000000  20.000000

In [11]:
print(df['Product'])
print(df[['Price','Quantity']])

0         Pen
1    Notebook
2      Pencil
Name: Product, dtype: object
   Price  Quantity
0     10         5
1      5         3
2     50        20

Data Cleaning

In [14]:
df = pd.DataFrame({
    'Name': ['Awais', 'Ali', 'Hammad', None],
    'Age': [22, None, 21, 20],
    'City': ['Topi', 'Lahore', None, 'Karachi']
})

In [17]:
print("Sum of Null Values in Each Coloumn :\n",df.isnull().sum())

Sum of Null Values in Each Coloumn :
 Name    1
Age     1
City    1
dtype: int64

In [34]:

df['Name'].fillna('Unknown',inplace=True)
df['Age'].fillna(0,inplace=True)
df['City'].fillna('No City',inplace=True)

df

     Name   Age     City
0   Awais  22.0     Topi
1     Ali   0.0   Lahore
2  Hammad  21.0  No City
3  Unkown  20.0  Karachi

In [23]:
greater_20 = df[df['Age'] > 20]
print(greater_20)

     Name   Age  City
0   Awais  22.0  Topi
2  Hammad  21.0  None

In [30]:
print(df.loc[0:2,['Name','City']])

     Name    City
0   Awais    Topi
1     Ali  Lahore
2  Hammad    None

In [29]:
print(df.iloc[1:3:,1])

1     NaN
2    21.0
Name: Age, dtype: float64

Sorting , Merging

In [35]:
df = pd.DataFrame({
    'Name': ['Awais', 'Ali', 'Awais', 'Hammad', 'Ahmed', 'Awais'],
    'Age': [22, 21, 22, 21, 23, 24],
    'Marks': [90, 85, 90, 88, 75, 95],
    'City': ['Topi', 'Lahore', 'Topi', 'Karachi', 'Lahore', 'Topi']
})

print(df)

     Name  Age  Marks     City
0   Awais   22     90     Topi
1     Ali   21     85   Lahore
2   Awais   22     90     Topi
3  Hammad   21     88  Karachi
4   Ahmed   23     75   Lahore
5   Awais   24     95     Topi

In [36]:
#sorting by age 
df = df.sort_values('Age',ascending=False)
print(df)

     Name  Age  Marks     City
5   Awais   24     95     Topi
4   Ahmed   23     75   Lahore
0   Awais   22     90     Topi
2   Awais   22     90     Topi
1     Ali   21     85   Lahore
3  Hammad   21     88  Karachi

In [40]:
#remove duplicates
df = df.drop_duplicates(subset=['Name'],keep='last')
print(df)

KeyError: Index(['Name'], dtype='object')